.container {
    border: 1px black solid;
    height: 90vh;
    position: relative;
    background-image : url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  #mario {
    width: 200px;
    position: absolute;
    bottom: 200px;
  }
  
  #goomba {
    width: 100px;
    position: absolute;
    bottom: 200px;
    right: 50px;
  }

  #killer {
      position: absolute;
      width: 150px;
      left: 160px;
      bottom: 210px;
      /* transform: scaleX(-1); */
  }