.container {
    border: 1px black solid;
    height: 90vh;
    position: relative;
}
#mario {
    position: absolute;
    width: 100px;
    bottom: 5px;
    left: -10px;
}

#goomba {
    width: 50px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}