div {
    background-color: pink;
    height: 300px;
}

body {
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    color: green;
}

/* class 셀렉터 */
.red-text {
    color: red;
}

.yellow-text {
    color: yellow;
}

.big-size{
    font-size: 50px;
}

.border {
    border-style: solid;
    border-width: 1px;
}

/* id 셀렉터 */
#div1 {
    background-color: pink;
}

/* name은 디자인할 때 잘 사용하지 않음 */

a{
    text-decoration: none;
    color: lightgray;
}

a:hover{
    text-decoration: none;
    color: white;
}