.textCss1 {
    color: green;
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    text-indent: 10%;
}

.textCss2 {
    color: yellow;
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
    text-indent: 5%;
}

.font {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: 100;
}